<div class="container">

     <div class="container">
       <div class="row align-self-center">
         <div class="col col-lg-12">
           <img src="assets/img/logo.png" height="100px" width="100px" alt="logo">
         </div>
         <div class="col col-lg-12">
           <style>
             @import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
           </style>
           <h1 style="font-family: 'WindSong', cursive;">Gha Snack</h1>
         </div>
       </div>
       
     </div>
   </div>
   